@import url(../css/reset.css);
@import url(../css/global.css);
@import url(../css/components/navigator.css);
@import url(../css/components/pills.css);
@import url(../css/components/link-button-icon.css);
@import url(../css/components/gallery.css);
@import url(../css/components/spidermans.css);

.spider-wrapper {
    display: flex;
    height: 100vh;
    flex-flow: row nowrap;
}

.spider-wrapper .spider-left-column {
    width: 100px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    padding-right: 50px;
    left: 0;
    top: 0;
    z-index: 1;
}

.spider-wrapper .spider-main-content {
    height: 100%;
    width: 100%;
    padding-left: 130px;
    position: relative;
}

.spider-wrapper .spider-main-content__top {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.spider-wrapper .spider-main-content__top .spider-logo img {
    margin-top: 50px;
    margin-left: 0;
    margin-bottom: 30px;
}

.spider-wrapper .spider-main-content__top .spider-description {
    background-color: rgba(0, 0, 0, .7);
    max-width: 50%;
    padding: 20px;
    border-radius: 10px;
}

.spider-wrapper .spider-main-content__top .spider-description .pills {
    margin-bottom: 20px;
}

.spider-wrapper .spider-main-content__top .spider-description .spider-description__text p {
    color: white;
    line-height: 170%;
}

.spider-wrapper .spider-main-content__top .spider-links {
    padding: 20px;
    padding-left: 0;
}

.spider-wrapper .spider-main-content__top .spider-links ul {
    display: flex;
    flex-direction: row;
}

.spider-wrapper .spider-main-content__top video {
    display: flex;
    max-width: 25%;
    flex-direction: row;
    margin-left: 0;
}

.spider-wrapper .spider-main-content__botton {
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 0;
}

