.navigator {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}

.navigator::before {
    content: '';
    position: absolute;
    top: 0;
    width: 2px;
    height: 100%;
    background-color: white;
    z-index: 0;
}

.navigator ul {
    z-index: 1;
}

.navigator ul li {
    margin: 60px 0;
}
 
.navigator ul li:first-child {
    margin-top: 0;
}

.navigator ul li:last-child {
    margin-bottom: 0;
}

.navigator ul li .spider-controller {
    color: white;
    border: solid 2px white;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease-in-out;
}

.navigator ul li .spider-controller:hover {
    transform: scale(1.1);
}
.navigator ul li .s-controller--active {
    color: var(--primary-color);
    background-color: white;
    
    border: .1875rem solid var(--primary-color);
    outline: 0.125rem solid white;
}

.navigator .navigator__icon {
    position: absolute;
    top: -20px;
}