/* Tobey Maguire */
.s-spiderman-01-01 {
    content: "";
    background-image: url('../../images/spiderman-tobey/movie-01/background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
}

.s-spiderman-01-02 {
    content: "";
    background-image: url('../../images/spiderman-tobey/movie-02/background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
}

.s-spiderman-01-03 {
    content: "";
    background-image: url('../../images/spiderman-tobey/movie-03/background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
}

.s-spiderman-02-01 {
    content: "";
    background-image: url('../../images/spiderman-andrew/movie-01/background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
}

.s-spiderman-02-02 {
    content: "";
    background-image: url('../../images/spiderman-andrew/movie-02/background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
}